@font-face {
  font-family: "Nunito Sans" sans-serif;
  src: url(../assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format(truetype);
  font-style: normal;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 9999;
  background: #ffffff;
  color: #000000;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}

.skip-link:focus {
  left: 1rem;
  top: 1rem;
}

.navbar .nav-link {
  position: relative;
}

.navbar .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}